[2019-02-07 15:53] paulcanning opened #1 "Language contamination"
See here:

https://github.com/30-seconds/30-seconds-of-code/issues/917#issuecomment-461469797

[2019-02-07 16:01] petrovicstefanrs commented on #1
Hey @paulcanning , this has been already brought to my attention. It is a bug I'm working on resolving. As soon as it's resolved I'll close this issue so you will be informed.

[2019-02-07 19:50] petrovicstefanrs commented on #1
Fixed in commit cf119c0f0eb7ac59eb45ad6c990861dc6e6cb9c4

[2019-02-07 19:50] #1 closed

[2019-02-08 19:37] doncullen opened #2 "Make builds for other browsers."
Possible to have this ported to Firefox too?

See: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension

[2019-02-08 22:12] petrovicstefanrs commented on #2
@doncullen Hey, thanks for the resource. I will definitely look into it. I do plan to do a firefox version for the first major release. I will leave this issue here as a reminder and as a way for you to get notified once its done.

[2019-02-10 06:11] Nisthar opened #3 "Option to save code quickly"
Option to save code quickly for later usage would be nice

[2019-02-10 12:52] petrovicstefanrs commented on #3
@Nisthar What do you have in mind? You can copy/paste all code now anyway, in what way would the quick save work? Save as gist? or pdf?
It would be great if you could elaborate

[2019-02-10 13:45] petrovicstefanrs opened #4 "Make a Light theme for the extension"
Make a light theme for the extension.
- The color-scheme should be similar to Google Chrome's native color-scheme to avoid white flash (~1s) when the extension is loaded.
- Make a switch to enable/disable the theme (Default is still dark theme)

[2019-02-10 13:49] petrovicstefanrs opened #5 "Documentation for contributors"
Write documentation for contributors to follow when adding new snippets or languages to the extension.
- Be concise and provide a template for each language
- Secure that only owner and admin can merge and accept new contributions
- Create a detailed documentation on code quality and style that needs to be enforced

[2019-02-13 09:10] DamianRubio opened #7 "Filter for specific topics on Interview Questions"
Nowadays, the extension allows you to filter out questions on topics like JS, Python or React and also for Interview Questions. But it does not discard questions on those topics to appear as an Interview Question.

For example, if someone is interested in learning Python (:raising_hand_man:)  and Interview Questions about Python, even though she discards JS questions some of them may appear on the

[2019-02-13 10:32] petrovicstefanrs commented on #7
Ohh that could prove to be a bit difficult, since all the snippets for interviews are written by community and grouped together without any separation. And mostly they focus on frontend questions in JS as you noticed. If in the future i find some collaborators that would be willing to write interview questions for different technologies I would be able to separate them.

TL;DR Sorry, but currently

[2019-02-13 17:54] MacFlurry opened #8 "Please make safari extension"
Hello,

Could you please make a safari extension?

Thanks

[2019-02-13 18:11] petrovicstefanrs commented on #8
@MacFlurry Hey, both Safari and Firefox versions are something I plan to start developing as soon as the initial stable version of the main Chrome extension is done.

[2019-02-13 18:19] MacFlurry commented on #8
Can't wait. I don't use chrome ☺️

[2019-02-14 15:46] larzuk91 opened #9 "Add a timer for next time to show a tip"
As a developer, you usually open many tabs in a short period of time, so you can't always read all the tips. Actually, I did try but sometimes I ended forgetting what I was about to do. So, it would be awesome if I can set a timer for when I want the next tip to appear

Cheers!

[2019-02-14 22:04] petrovicstefanrs commented on #9
Hey man, thanks for the proposal but actually that problem sounds very specific. I suppose its not something most people would struggle with and not sure on how the timer would be incorporated into the extension from the usability side. Not sure it would be a wise UX move to add such a specific feature this early into the life of a project.

I'm sorry, but I will have to close this issue for now a

[2019-02-14 22:04] #9 closed

[2019-02-15 00:10] larzuk91 commented on #9
Oh, no problem, actually, this is more like feedback than a feature proposal (although it's a feature proposal :p). Nice work btw

[2019-02-15 01:56] petrovicstefanrs commented on #9
Hahha actually the problem you described I would call an accidental feature. It just means that the UX is doing its job keeping your focus and interest for the extension alive :P :D

Anyway, as I said maybe in the future, I'll add it but currently I don't see it as an option.
And thank you!

[2019-02-15 01:56] #4 closed

[2019-02-15 19:29] asantarissy commented on #3
@petrovicstefanrs I think my PR (#6) covers what @Nisthar is asking for 😃

[2019-02-15 19:43] petrovicstefanrs commented on #3
@asantarissy Yep, actually in process of reviewing and merging your PR 😄. Shouldn't be long, maybe a day or two. I want to make sure everything is in sync with what I had in mind. 😄

[2019-02-15 20:03] asantarissy commented on #3
AWESOME, just pushed the light theme support 😄

[2019-02-15 20:40] petrovicstefanrs commented on #3
Nice! I'll get back to you if somethings need a touch up.

[2019-02-20 02:52] #3 closed

[2019-02-20 06:07] Nisthar commented on #3
@petrovicstefanrs Yes, I was thinking of something like gist where you can save code snippets and check it later. It would have been nice if there was a plugin to import it to vs code automatically.

[2019-02-21 07:25] Bhupesh-V opened #10 "support for 30-Seconds-of-C++"
Any chances the extension could provide Code Snippets from [30-Seconds-Of-STL](https://github.com/Bhupesh-V/30-Seconds-Of-STL) .

[2019-02-21 11:34] petrovicstefanrs commented on #10
@Bhupesh-V Hey man, I mean sure. Give me a day or two, to write the documentation for contributions regarding new snippets and snippet libraries, and you can branch-out and start adding the snippets.

Just a small info, would this be called the c++ library or stl library in the interface. I want to keep the extension "self-explanatory" to new comers and experienced developers as well. C++ would be

[2019-02-21 15:16] nero2009 commented on #2
Hi I have ported a couple chrome extensions to firefox, I might be able to help with this

[2019-02-21 20:37] obrmao opened #11 "Add enkidevs curriculum"
[Enki](https://enki.com/) is a very good mobile app, similar in the idea to 30 seconds of knowledge - you learn a new API for a couple of minutes each day. Their curriculum is open-sourced here: https://github.com/enkidevs/curriculum. A good idea would be to merge the content here to expand the range of covered topics.

[2019-02-21 21:05] petrovicstefanrs commented on #11
@obrmao Hey, thank you so much for the tip. I guess I'll contact them and ask if they wouldn't mind me using their data. Thanks again!

[2019-02-21 21:07] petrovicstefanrs commented on #2
@nero2009 Hey, that would be great, but tell me what did you have in mind? A shared codebase with the main extension just different build processes or a completely separate codebase?

[2019-02-22 01:36] petrovicstefanrs commented on #3
@Nisthar I've added a library of saved snippets thanks to @asantarissy and it's live now, as for the auto import to vs code, there is a great resource: https://www.npmjs.com/package/30-seconds-of-code
This is the repo I'm scraping the javascript snippets from, and this is their official npm package with all the js snippets you can find on 30 seconds of knowledge. Check them out!

[2019-02-22 07:46] Bhupesh-V commented on #10
@petrovicstefanrs :+1:
I guess naming it `C++` (in your extension) would be a good idea because people don't easily recognise STL
(Well there was NO specific reason to name it `30-Seconds-Of-STL`)
Just ping me when you are done adding CONTRIBUTING guidelines I will make changes in my project accordingly :smiley:

[2019-02-22 09:27] petrovicstefanrs commented on #10
@Bhupesh-V Great, I'll do the documentation in the next day or two and ping you here once I do so you don't have to be on the lookout for it.

[2019-02-26 00:24] petrovicstefanrs commented on #11
Unfortunately, in order to use data from Enki, the application shouldn't accumulate any revenue. If I did that I wouldn't be able to support it anymore. My current goal is to assign as much time and resources as I can to development of this extension. This means unfortunately, that opt-ing out of donations from the  extension would also mean that I can't afford its hosting or any further developme

[2019-02-26 00:24] #11 closed

[2019-02-26 10:01] nero2009 commented on #2
@petrovicstefanrs A shared codebase with different branches would be Ok, anyone that works for you really.
I am currently working on this issue and making progress, albeit rather slowly

[2019-02-28 06:50] nero2009 commented on #2
@petrovicstefanrs apparently `lookbehind` and `lookahead` are  not supported by firefox so I have to rewrite  this regex in the `snippets.js` but I dont really understand what the regex does

[code]
I am not really good with regex

[2019-02-28 13:33] petrovicstefanrs commented on #2
@nero2009 Yep, still no positive lookbehind in FF, i was aware. The regex in SNIPPET_CODE_REGEX is used to extract code snippets from their markdown files. I can write regex that will work in FF, if that would help you. Also I want to see how you setup the project on your branch (just give me a link here).

[2019-02-28 15:31] nero2009 commented on #2
@petrovicstefanrs [Link](https://github.com/nero2009/30_seconds_of_knowledge/tree/feature/firefox-version), It is still your setup and build process but I am just make changes to make it compatible with firefox.
I think it would be better if you can write a regex that works on Firefox cos I haven't made any progress.

[2019-02-28 23:19] sirberus opened #15 "Chrome Extension: Bookmarks"
Please consider letting us add simple bookmarks - just a label and URL would be fine!

[2019-03-01 08:58] Grahnz opened #16 "clipboard permission?"
Why does this extension have permission to access a users clipboard?

[2019-03-01 09:03] petrovicstefanrs commented on #16
Well there is an option to copy snippets directly to clipboard, so without it it wouldn't work. Also the extension is fully offline, you can see it here in the codebase. No data leaves your computer :D

[2019-03-01 09:03] #16 closed

[2019-03-01 16:55] farkerhaiku opened #17 "New Langage Library: Kotlin"
I saw there's an unofficial 30 seconds of kotlin, and since I'm an android dev I'd like to see that added to this super cool extension.

https://github.com/IvanMwiruki/30-seconds-of-kotlin

I'm not sure how hard it will be to include something like that in this plugin, but if you can point me to a where I can learn how to contribute new snippets I'd be happy to give it a whirl

[2019-03-01 17:13] akronborn opened #18 "Doesn't display after browser restart"
The icon is still visible in the toolbar. The options to show in incognito mode are selected, however, the extension does not come up when I open a new tab. It does continue to work outside of incognito mode.

[2019-03-01 20:13] jhuynh85 opened #20 "Typo in PasswordRevealer snippet"
In the React PasswordRevealer snippet the word `variable` is mispelled as `vairable`

[2019-03-01 22:24] #20 closed

[2019-03-01 22:27] petrovicstefanrs commented on #18
I wasn't aware that someone would want to use the extension in incognito mode. I will have to look into it to see if the new tab extensions are supported in incognito

[2019-03-01 22:30] petrovicstefanrs commented on #17
Hey @farkerhaiku ,
The contributor documentation should be finished soon enough so if you choose to help out it would be great. Until then I'll look into the repo you provided to see if there are any issues on using their snippets inside the extension.

[2019-03-02 13:51] petrovicstefanrs commented on #2
@nero2009 I've gone through your branch. I see that you only started preparing for changes to be able to create a firefox version. Maybe the best course of action would be for me to first opt-out of any chrome specific api stuff and rewrite everything to use WebExtensions api. that way we may even be able to build for firefox without any additional changes, however it there is going to be some add

[2019-03-02 13:54] petrovicstefanrs commented on #8
Merged this issue with #2. Just to keep it clean.

[2019-03-02 13:54] #8 closed

[2019-03-02 21:18] qiandongyq commented on #18
@akronborn @petrovicstefanrs Incognito windows are treated specially. New Tab pages cannot be overridden in incognito windows.

source: https://developer.chrome.com/extensions/override

[2019-03-02 22:06] petrovicstefanrs commented on #18
@qiandongyq Thanks for the info. I'll close this issue then as it seams nothing can be done for incognito.

[2019-03-02 22:06] #18 closed

[2019-03-03 10:35] sanderlenaerts opened #23 "Links to other tips not loading"
![image](https://user-images.githubusercontent.com/7161447/53693991-47ce1900-3da8-11e9-96cc-95e84b6154f7.png)

The _off_ link adds #off to the url, but it does not load the actual tip

[2019-03-03 15:14] asantarissy commented on #23
Thanks @sanderlenaerts yes that's correct, but 30 Seconds of Knowledge loads one snippet on every tab open so you can learn something new in less than 30 secs, opening a different snippet might change the whole concept.

What do you think @petrovicstefanrs should add such feature?

[2019-03-03 18:41] petrovicstefanrs commented on #23
@sanderlenaerts You are right, and i will see to it to implement referencing to other snippets. @asantarissy Probably should add this as some snippets can be better understood alongside other snippets. Will put on to do.

Thanks @sanderlenaerts !

[2019-03-04 08:33] nero2009 commented on #2
@petrovicstefanrs That would be awesome

[2019-03-04 20:58] jordanallain opened #27 "Typo on landing page"
[code]

[2019-03-04 21:00] jordanallain commented on #27
also later in the page

[code]

i know the page is called 30 Seconds of Knowledge, so maybe these are intentional? if so my apologies.

[2019-03-05 00:20] petrovicstefanrs commented on #27
@jordanallain Definitely not intentional, I'm just a klutz while typing. Thank you for pointing that out!

[2019-03-05 01:47] petrovicstefanrs opened #28 "Review Ruby Snippets"
#12 Ruby Snippets

@florianjosefreheis, Hey man, I'm opening this issue to let you and others know that some review of the ruby snippets is needed.

I'm not a Ruby dev, so I can't do it but if you could find some more ruby devs that could review the snippets, and if anyone else contributing here can help with this, it would be great!

I want to be sure that, what we will be pushing to production s

[2019-03-05 09:17] florianjosefreheis commented on #28
@petrovicstefanrs yeah definitive worth to double check before releasing. Let's see if we can find someone.

[2019-03-05 18:52] joeyscarim opened #30 "Option to display on New Window and/or New Tab"
I use Momentum, which I prefer to have as my New Window/Launch screen.

Is there any way that 30SoC could appear on New Tab only?

[2019-03-05 18:56] petrovicstefanrs commented on #30
@joeyscarim Actually its been added and is currently on dev branch. Will roll out in next release! 😄

[2019-03-05 18:56] #30 closed

[2019-03-06 09:05] lukewhitehouse opened #32 "Blacklisting snippets"
Hey, it would be really cool if there was the ability to blacklist snippets you're not interested in. Things that perhaps you already know, etc.

[2019-03-06 10:56] petrovicstefanrs commented on #32
@lukewhitehouse Great idea, actually don't know why it never crossed my mind since we already have favorited snippets, this was so obvious. Thank you for the suggestion!

[2019-03-07 00:35] petrovicstefanrs commented on #28
@florianjosefreheis any luck finding another pair of eyes to double check ruby snippets?

[2019-03-07 13:52] TheRealBastiaan opened #34 "Please add jQuery snippets"
Dear @petrovicstefanrs

Can you please add jQuery snippets. It is something I’m currently learning and trying to get better at. I think that more users are interested in this.

Examples that you can add; Smooth scrolling, Form validation.

[2019-03-07 16:04] florianjosefreheis commented on #28
@petrovicstefanrs, unfortunately, no luck so far, any ideas on how to get the snippets reviewed?

[2019-03-08 01:15] petrovicstefanrs commented on #28
@florianjosefreheis, well until we find more ruby people, at least we should go through all the snippets and fix any wording or typing errors. Is it okay if you doublecheck those?

[2019-03-08 01:26] petrovicstefanrs commented on #34
@TheRealBastiaan Hi, thanks for the proposal, but unfortunately due to decreasing popularity of jQuery I don't think investing time into those snippets would be the best idea. Most of the snippets from javascript will work inside jQuery as well so it would be a rather redundant addition. In case of other JS frameworks such as React which have their own largely different ecosystems it makes sense t

[2019-03-08 01:26] #34 closed

[2019-03-10 13:51] #27 closed

[2019-03-11 08:51] Bhupesh-V commented on #10
Hey @petrovicstefanrs any updates ??

[2019-03-11 20:18] omega-station opened #37 "Feature: Toggle saved snippets"
How about adding a toggle in the options panel that would hide items that you've already saved--so that you're always seeing fresh content? Thank you (great extension, btw!)

[2019-03-11 20:20] petrovicstefanrs commented on #37
Oooooh that's a good idea! Will do that in the next version 😄

[2019-03-11 20:21] #5 closed

[2019-03-11 20:24] petrovicstefanrs commented on #10
@Bhupesh-V Sorry took me longer that expected, life got in the way. I've finished the documentation for all the currently present snippets. If you want you can start implementing the c++ snippets based on how the current ones are implemented. Just make sure to branch out of dev branch and name your branch feature/cpp_snippets

[2019-03-11 20:24] #2 closed

[2019-03-12 05:39] Bhupesh-V commented on #10
Ok i have renamed the project to **30-seconds-of-cpp**
So now what how would this be integrated with the extension ??

[2019-03-12 23:14] glorywiguno opened #38 "Content area is too small in a <600px viewport"
The content area is squished in a <600px viewport.
Is there any particular reason setting the width for `sok-NewTab-contentContainer` using `100vw - 480px`?
Instead of that we can try using percentage width and paddings around `sok-NewTab-contentContainer`.

[2019-03-13 13:37] Kutomore commented on #32
I'll start working on it, hopefully it should be done soon, probably will make it similar to the save option.

[2019-03-13 21:13] renanbona commented on #28
@florianjosefreheis If you allow me, I'll be glad to help with ruby snippets. I've just created two PR for them. If there's anything you want to change about them, tell me.

[2019-03-14 09:21] petrovicstefanrs commented on #38
Fixed, will be released in next version.

[2019-03-14 09:21] #38 closed

[2019-03-14 20:11] florianjosefreheis commented on #28
@renanbona awesome, I will have a look over the weekend.

[2019-03-18 23:41] meg-gutshall commented on #28
Please see my above PR #43. I can probably do a few more throughout the week. I'm about 9 months into programming but it's all been Ruby so I'm very confident with my foundational skills and have the advantage of being able to explain things in a way beginning coders will understand. (I know sometimes experienced devs forget what it's like to know next to nothing!) Hope to be able to help this pro

[2019-03-19 14:16] farskid commented on #37
@petrovicstefanrs I'd like to take this issue. Would you have any idea on how it needs to be done?

[2019-03-20 08:51] terzom opened #45 "Get same example when you click back in browser history"
It has happened several times that I've open a new tab and just written an address and hit Enter. And sometimes I get a look at the headline of the example and it has been interesting. However, if I want to go back to see it more clearly I can't since it always refreshes the examples.

So a neat feature would be that it would remember what question it was.
Or to be able to see a history of the lat

[2019-03-20 18:48] petrovicstefanrs commented on #45
@terzom Why not use the save snippet feature that is already there?

[2019-03-20 19:36] terzom commented on #45
@petrovicstefanrs because this happens before I can do it. I don't usually open tabs to read but to go x page so this is a matter of seconds. So if I saw something during the time the page load I can't get back or have time to save it. And sometimes I just want to re-read it and not save everything I see.

[2019-03-21 00:44] petrovicstefanrs commented on #45
@terzom Ohhh, that's what you meant! Welp hhahha, guess I could do it. Could you just propose the format for this? How many snippets back in time should I save, how would you possibly like that feature to look like and stuff like that?

[2019-03-21 00:50] petrovicstefanrs commented on #15
@sirberus Left this open so far because I wanted to think about it a bit more. But I will have to close it for now. The extension is starting to get more and more functionality directly related to the base idea of what it's meant to do and adding this now would seam like unnecessary bloating. Unfortunately I'm just not sure how to add this to elegantly fit the rest of the extension.

If however th

[2019-03-21 00:50] #15 closed

[2019-03-21 00:50] #7 closed

[2019-03-21 00:51] petrovicstefanrs commented on #28
Closing this as the PR was merged!

[2019-03-21 00:51] #28 closed

[2019-03-21 08:06] terzom commented on #45
@petrovicstefanrs I would be satisfied if I just could press 'back' and get the same question. Not necessary to show any history, was just an idea if anyone else wanted that features.

That could have been in a smaller text at the bottom and in settings you could enable to show it or now.

[2019-03-21 15:07] coffeecore opened #47 "Snippet error"
Hello.

I think this snippet is wrong :
https://github.com/petrovicstefanrs/30_seconds_of_knowledge/blob/master/src/assets/snippets/php/isContains.md

[code]

`strpos` function can return `int` or `false`. If you do :
[code]
Condition is `false` because `(bool) 0 === false`.

[2019-03-21 18:43] petrovicstefanrs commented on #47
@coffeecore  Yep, nice catch! What do you think if I just fix it to this:
[code]

[2019-03-21 19:04] petrovicstefanrs commented on #45
@terzom The back in history sounds okay to me. Didn't do any history manipulation with extensions so far so I will need to research it a bit, if it proves to be possible(I assume it will be) I'll implement it.

[2019-03-22 08:13] coffeecore commented on #47
I think better way :

[code]

[2019-03-23 13:20] muescha opened #48 "feature request: working code snippets in an web editor / ide"
i would like to have also a warking code snippet at codepen.io or similar online code editors...

[2019-03-25 07:45] senky opened #49 "PHP - variadicFunction"
Hi,
`variadicFunction` in PHP has quite wrong description and example. Variadic function is a function of any number of arguments. Not one argument of any length. So the code should look like:

[code]

and an example:

[code]

[2019-03-25 20:58] petrovicstefanrs commented on #49
@senky Quite right you are! 😄 Will fix this! What do you think, I believe the code could be even shorter with return array_sum($operands). If I'm correct, and please do tell me if I'm wrong, the ... in php take all the arguments and put them in an array so this array_sum should technically work.
Still it would only work if parameters are numbers, otherwise a transformation function should be provi

[2019-03-25 21:03] petrovicstefanrs commented on #48
Hey, @muescha currently I can only do this out of the box for css snippets, for any other language I would need to have all snippets expanded with a working example that would then be pushed to a website like codepen like it works with css now. However since there are 600+ snippets and I can't get that much time due to my day job, It really depends if the community is up to it to start adding thes

[2019-03-25 23:08] muescha commented on #48
Just add to the template some "try it now link" and new snippets are comes with working examples ...

[2019-03-26 07:18] senky commented on #49
@petrovicstefanrs I wouldn't mix variadic functions with higher order functions. Also I wouldn't use `array_sum` as it breaks all the wonder. 😅 But maybe you could add more semantics:

[code]

[2019-03-26 09:50] petrovicstefanrs commented on #49
@senky  Welp I always forget that for a function to be a higher order function it only needs to accept a function as an argument not necessarily return a function as a result. (In my brain if it doesn't return a function its not a higher order function 😄) Anyway, keep it simple and change the name to actually mirror what the function does, okay like it! 😄

[2019-03-26 13:38] Kutomore opened #50 "Feature: Screen Saver Mode"
I had an idea, maybe there should be an option on the configs, where you setup a time in seconds and every x seconds the tip on the page would be replaced by a new one. Like an ever changing and never ending stream of tips. By default it should be deactivated maybe, and if you want then you can turn it on. Anyway, just a suggestion, if you think it's a good idea I can implement it.

[2019-03-27 13:38] lferrario92 opened #51 "Cannot save React fileDrop tip"
Each time this tip shows up the save button its locked.

The one is React FileDrop tip.

[2019-03-27 14:08] petrovicstefanrs commented on #51
@lferrario92 The lock should only be enabled if the snippet is already saved. I know it's a silly question but did you check if its already saved? 😄

[2019-03-27 14:10] petrovicstefanrs commented on #50
@Kutomore something like a screensaver mode. Hmmm, let me think about it a bit and get back to you, sounds interesting though.

[2019-04-01 17:31] lferrario92 commented on #51
Yeah I had saved it in another window and didn't realize until it showed again, my bad.

[2019-04-01 17:31] #51 closed

[2019-04-01 17:35] Kutomore commented on #50
Exactly, like a screensaver mode, if you think it'd be a good addition I could start working on it.

[2019-04-02 10:41] mc-suchecki commented on #7
I second this. It seems like this extension would get more technologies/languages supported. Because of this, I suspect that this issue would become more and more important over time. 😉

BTW - thanks for the extension, I love it!

[2019-04-03 12:31] jcmnunes opened #53 "Typo in Collapse (React) snippet"
In the description of the Collapse snippet (React), we can read "Use the React.setState() hook" when it should be "Use the React.useState() hook"

<img width="1402" alt="Screen Shot 2019-04-03 at 13 28 22" src="https://user-images.githubusercontent.com/13286745/55478892-b8b95880-5614-11e9-84cc-a836a69da7e0.png">

[2019-04-06 17:58] petrovicstefanrs commented on #53
Indeed right you are. Thank you for the tip, will change it :D

[2019-04-06 20:29] #53 closed

[2019-04-06 20:36] #47 closed

[2019-04-06 20:45] #49 closed

[2019-04-06 20:45] #32 closed

[2019-04-07 13:10] petrovicstefanrs commented on #48
@muescha well it's not easy as that. Most of the examples would need some setting up to make sense when provided as examples on mentioned websites. Adding that link is the easy part, still most of the snippets would need additional code to be working examples, and those need to be written manually. If I happen to find people willing to help on this feature I will expand on it until then, I'm not s

[2019-04-07 21:12] #10 closed

[2019-04-10 04:45] anubhavsrivastava commented on #50
+1 for the idea. I could use it on giant screen that my team has for monitoring,  that I stare every now and then

[2019-04-10 04:47] anubhavsrivastava commented on #45
or section which shows last 10/20 snippets shown to me would also help.

[2019-04-15 20:37] petrovicstefanrs commented on #50
#59 @Kutomore Started working on this

[2019-04-21 19:14] NomanGul opened #60 "Fix UI"
Plz fix UI :)

![image](https://user-images.githubusercontent.com/39244918/56474445-7eb0d900-6493-11e9-80e6-e4bd4e64ac99.png)

[2019-04-28 01:31] Pabears opened #61 "add a timer"
knowledge is too attract me, I want to add a timer to make me focus on work when I work, and study when I relax

[2019-06-15 01:54] adejonghm opened #64 "Saved snippet into Chrome Account"
It would be a good idea to save the "**Saved Snippets**" in the **Chrome Account** settings to have the same fragments on any computer that uses the same Chrome Account. I write this because I have a PC in my work but sometimes I work at home with my laptop and I don't have the same snippets on both computers.

This is a great extension. Thanks!!!

[2019-06-15 02:10] adejonghm commented on #45
I don't know if it's possible but you could use the time. I mean, if I press "back" before one minute, for example. It could be possible to see the last snippet.

[2019-06-16 18:06] simplymanas opened #65 "Chrome extension is missing Java knowledge code"
The chrome extension of 30second doesn't include the JAVA program. It should include and its a required future.

[2019-06-27 16:17] brentonhouse opened #66 "Feature: Add ability to browse all available snippets"
I can see the option to browse saved snippets but not to see all snippets (preferably by category).   Would be great to have this feature!

[2019-08-02 21:45] amirhoseinsalimi opened #68 "Is there any public API to manipulate the data set?"
Hello,

The idea behind this project is kind of cute and is appreciated by developers. I installed the Chrome extension a few months back and now I'm curious to know if there's a public API to be able to do CRUD operations (without DELETE :grinning:) on the data set the extension using. I think it would be nice to have something like that and even if you're not interested in the idea that much to

[2019-08-18 16:39] fejes713 commented on #68
Hey @amirhoseinsalimi 👋

At this time the API for fetching all snippets doesn't exist. However, this is something that we had in plan for a long time at our organization.

If we ever decide to implement it we have to really plan it out well. The 30-sec-knowledge repo does a decent job of grouping data from different 30-sec repositories but it doesn't auto-fetch it, and it's not as robust as it sho

[2019-08-18 16:53] Chalarangelo commented on #68
An API is too much work, but we can ask individual repos to host their snippetData.json as part of their website, so  that anyone (30 seconds of knowledge included) can fetch the data from that. We can even make it part of the starter before we complete any migrations.

[2019-08-18 17:18] fejes713 commented on #68
That would be a good option. Not too much work but definitely serves a purpose. WDYT @amirhoseinsalimi ?

[2019-08-18 19:23] amirhoseinsalimi commented on #68
Having considered what you said, I think this is not a good time to implement such a feature but it still worth it to keep the idea in a wishlist. 30-sec-knowledge can become a culture and I thought maybe a twitter bot and an API to seed the database could help it to gain the popularity it deserves. Anyways, I wish the core team the best and I would welcome any opportunity to help the product in t

[2019-08-18 23:04] petrovicstefanrs commented on #68
Chiming in with my two cents here.
Plugging 30 sec of knowledge to any online API would defeat the purpose of the extension, which is to be an all the time accessible plugin feeding you the snippets whether you are online or not. I got a lot of comments from people claiming they appreciate the fact they could read through the snippets while offline (airplane, bus and so on...) Introducing an API w

[2019-08-19 05:34] Chalarangelo commented on #68
@petrovicstefanrs Good idea. The common infrastructure is already the priority if you are following the latest discussion in the @30-seconds/meta team.

However, submodules should not be in 30-seconds-of-code, but rather a new repo, in my opinion, one where all of the repositories are submodules and it does all of the heavy lifting for us. This seems to me to separate concerns rather nicely and al

[2019-08-19 20:35] petrovicstefanrs commented on #68
@Chalarangelo Yes, I'm trying to keep up with the discussion on @30-seconds/meta as much as I can :D

Submodules would be a part of the extension repo, in a scenario where a new 30 sec repo for a new language was released I would just add that repo as a submodule, provided that the structure is the same for all repos ( what you are trying to achieve already ) there would be no need for much coding

[2019-08-19 20:40] petrovicstefanrs commented on #66
Not sure how this would benefit the extension, it feels like adding functionality that is changing the purpose of the extension ( to be a quick random coding tip you can read in a short amount of time )

I'm saying this because the browsing could still be done on websites specializing in every one of the languages the extension has. For css you could visit 30 seconds of css. I could add quick link

[2019-09-02 02:39] thamara commented on #45
One option is to create a new tab (i.e. "Last Seen Snippets) on the "Saved Snippets" as @anubhavsrivastava  has suggested previously. If you are interested in such feature, I would be happy to contribute :)

[2019-09-23 07:28] #60 closed

[2019-09-23 07:29] NomanGul commented on #60
This issue seems to be resolved

[2019-10-07 17:00] dgharsallah opened #76 "What about adding some snippets for Machine Learning/Deep Learning etc...?"
I have tried the plugin and I find it super useful. Is it possible to add some snippets for Machine Learning and deep learning?

[2019-10-07 17:22] Chalarangelo commented on #76
Snippets are added in their appropriate repositories, not 30knowledge itself. I'll take note of this idea and see if we have resources to start such a repo as our next project.

[2019-10-07 17:22] #76 closed

[2019-12-01 18:56] JonDevOps opened #79 "Nothing appears on my Firefox Developer Edition browser on Windows 10"
The app still works on my Firefox developer edition browser on Lubuntu Linux but on my Windows 10 machine is is not working for some reason. Here is a snapshot of the problem:
![30secondsofknowledgeissue](https://user-images.githubusercontent.com/30133774/69918616-60a45180-1442-11ea-88c0-f5687016555f.PNG)

If you need more info please let me know.

[2019-12-01 18:59] JonDevOps commented on #79
By the way even when i click on the settings button even the settings do not appear BUT the saved snippets do appear.
![30secondsofknowledgeissue](https://user-images.githubusercontent.com/30133774/69918652-c8f33300-1442-11ea-9b0c-b9df62cecca5.PNG)

[2019-12-02 00:53] JonDevOps commented on #79
It's working now. I uninstalled and reinstalled.

[2019-12-02 00:53] #79 closed

[2019-12-02 04:17] lzcawsome opened #80 "too many repeat snippet"

[2019-12-08 12:28] dnahurnyi opened #81 "New Langage Library: Go"
I would like to add new snippets about Go language. I would like to create a repo in the same way how it's already implemented for Python or C++ but need @petrovicstefanrs  approval.

[2019-12-08 12:29] petrovicstefanrs commented on #80
Some clarification for this?

[2019-12-08 12:36] petrovicstefanrs commented on #81
Hey @dnahurnyi , the best way to start this is for you to contact @fejes713 to see how to start your a 30sec of Go repository in the same way the other 30sec repos are made. That way once the database of snippets is sufficiently large it can be implemented into the chrome extension.

[2019-12-08 12:37] petrovicstefanrs commented on #64
@adejonghm, not sure this is possible, I will look into saving the extension settings to your google acc, but not sure it will be possible.

[2019-12-08 21:12] dnahurnyi commented on #81
Thanks @petrovicstefanrs, will do!

[2019-12-08 22:25] fejes713 commented on #81
Hi, @dnahurnyi 👋 thanks for showing interest in making the official Go repository for the snippets.

There's is an archived [starter repo](https://github.com/30-seconds/30-seconds-starter) that you can fork and make your own Go repository.

Once the repository has enough quality content we can consider merging it into our organization and branding it as official.

Recently we started merging all p

[2019-12-08 22:25] #81 closed

[2020-05-11 06:52] ShirazSuleman opened #83 "Firefox add-on missing"
Hi,

When I browse to the [Firefox add-on page](https://addons.mozilla.org/en-US/firefox/addon/30-seconds-of-knowledge/), it says "Oops! We can’t find that page". Is it no longer supported on Firefox?

Thanks
Shiraz

[2020-05-11 11:24] petrovicstefanrs commented on #83
@ShirazSuleman Yeah It should be just a temporary problem. I plan to host a new version as soon as it's ready (most likely next week). Sorry for the inconvenience.

[2020-05-11 11:24] #83 closed

[2020-05-12 22:37] Zac-Zajdel opened #84 "Interested in using Laravel/Vue Snippits?"
Hello,

My name is Zac. I have been developing in Laravel and Vue for my current job and in my free time. I absolutely love this extension and think it's such a unique concept.  I would like to begin my journey into contributing to open-source projects and I think I found the one. I would like to help and add code snippits of Laravel and Vue functionality. Would either of these frameworks be consi

[2020-05-14 19:35] petrovicstefanrs commented on #84
Hello Zac,

Glad you are interested in the project and would like to contribute. The thing is, 30SOK is just a browser extension built on top of 30 Seconds Of Code projects. There is an org here on git [30 seconds](https://github.com/30-seconds). They have the best resources to help you start your own 30 seconds project. You can talk to @Chalarangelo and see if he can help you out. Once your proje

[2020-05-14 19:35] #84 closed

[2020-05-14 19:36] #68 closed

[2020-05-14 19:38] #48 closed

[2020-05-19 08:44] raulhsj opened #85 "Firefox addon doesn't work"
This is the url: https://addons.mozilla.org/en-US/firefox/addon/30-seconds-of-knowledge/
It says that the page couldn't be found

[2020-05-19 15:05] petrovicstefanrs commented on #85
Hey @raulhsj, sorry about that. I'm aware it's unavailable at the moment. I had some problems with them reviewing the extension (they couldn't build it). I'm working on that. I hope to have it up again real soon.

[2020-07-24 17:57] mmans0ur commented on #85
Hi @petrovicstefanrs
Is there a way to install the addon manually for Firefox?

[2020-07-31 08:44] atesztoth commented on #85
Hello!
Yes, there is!
Clone the repository, in a terminal enter the folder, run "npm run build:gecko". Then you type "about:config", search for "xpinstall.signatures.required". Set the boolean value to false, and close this page.
After this go to the addons page, and add the extension from file. You'll see a zip file called "gecko_build.zip" in the folder where you cloned the repo to. Add that zip

[2020-08-19 10:19] phoffmeister commented on #85
Hey @petrovicstefanrs any news on getting it back to the official addons page for ff?

[2020-08-26 05:01] mijailr commented on #85
Still getting this error on firefox

[2020-08-27 11:36] mmans0ur commented on #85
Thanks for the tip
I do as you said except firefox after version 48 does not respect `xpinstall.signatures.required` I switched to firefox developer edition and it's working like a charm.
I found some tricks for firefox normal edition but firefox developer edition sounds good to me.

[2020-08-27 14:14] mijailr commented on #85
I was trying to upload a compiled version to get a valid signature. And the failure was related with this part:

https://github.com/petrovicstefanrs/30_seconds_of_knowledge/blob/master/webpack.config.js#L19-L26

After you change the `strict_min_version` to the latest ESR then the automatic test on the addons page pass the first step.

[code]

But then it complains about the uses of `eval` and `inn

[2020-10-27 11:47] Akrabut commented on #85
Hi!

I was wondering if there are any news on making this work from the addons page.

[2020-11-17 12:20] zaszlo opened #90 "New Langage Library: Java"
There's a 30 seconds of Java I'd like to be added to this nifty extension.

https://github.com/shekhargulati/30-seconds-of-java
https://java-design-patterns.com/snippets.html

Hope you can look into it.

[2020-11-29 00:45] toaster42 opened #92 "typo in bubblesort"
The python code for bubblesort has the example output in a comment on the last line. The example is incorrect however. '93' should read '91'

[2020-12-08 17:53] adrianmurage opened #95 "Firefox link on https://30secondsofknowledge.com/ is broken"
https://addons.mozilla.org/en-US/firefox/addon/30-seconds-of-knowledge/

[2020-12-08 17:54] adrianmurage commented on #95
Duplicate #85

[2020-12-08 17:54] #95 closed

[2021-01-03 07:16] MarcinOrlowski commented on #85
As addition to comment by @atesztoth - simply rename `gecko_build.zip` to `gecko_build.xpi` and drag & drop that file on Firefox to install.

[2021-02-01 12:11] Kreeg commented on #85
Firefox still throws an error. I don't want developer edition of Firefox.
Any updates?

[2021-03-22 08:55] davidpravst opened #98 "Feature request: Safari Extension"
I love 30 seconds of knowledge. I recently switched from Chrome to Safari. Is it possible to also release Safari extension in future release?

[2021-05-25 20:10] lagerfeuer commented on #85
@petrovicstefanrs any news on the Firefox addon? anything we can help with?

[2021-08-19 14:50] Isaac2709 opened #105 "Could we add an installation and getting started guide?"
I have been trying to set up the project in order to create content or introduce fixes but I'm getting many errors using only the npm install and start so I'm wondering if there is a possibility of creating an installation and getting started guide that explains this process?

[2021-10-30 21:15] petrovicstefanrs commented on #105
I started rewriting the project to use functional (/w hooks( instead of class-based components and I'm updating webpack and react versions. This will take some time, but after it's done I should have a more stable version of the extension to work with. This one is pretty tedious to work with, which is why I decided to rewrite it in the first place.

[2021-10-30 21:21] petrovicstefanrs commented on #85
Small update here. I tried fixing the extension so it worked with FF, but ran into a bunch of other issues. So I decided to do an overhaul. I'll be updating all packages, rewriting react classes to functional components with hooks, and updating manifest to v3. Hopefully, after that is done and the version is stable and easy to develop on, I'll be able to release it as v2 that works on both Chrome

[2021-11-09 20:25] petrovicstefanrs commented on #85
Another small update. I managed to make the extension work with the new Webpack and new Manifest versions. In the meantime, I also tried reuploading the current (v1.2) version to Firefox for review, in hopes of releasing it again but it's been around 10 days, and no word back from them. The addon portal also has a notification that says they are experiencing high demand and reviews usually take a

[2021-12-06 00:34] petrovicstefanrs commented on #85
Another update. The whole extension is now rewritten to react with hooks and manifest v3. I managed to successfully test the extension on Chrome, Brave and Opera browsers.

Firefox is still having some issues but hopefully, I'll manage to fix it soon or at least come up with a hack to support it until they officially support manifest v3 (I'll probably use v2 for FF until then). For whatever reason

[2021-12-06 01:48] petrovicstefanrs commented on #98
I'll try to make it work

[2021-12-06 23:10] petrovicstefanrs commented on #98
@davidpravst I managed to make the new rewritten extension work with Safari 15 and up. So once I release v2 for other browsers I'll release it for Safari as well. That might take a bit more time since I have no idea how to release safari extensions but I'll figure it out :D.

Anyway for more context around v2 for extension you can read my updates on this issue https://github.com/petrovicstefanrs/3

[2021-12-26 07:15] skanda1395 opened #113 "Feature: System theme option"
I'd be nice to have a system theme option that detects when the system theme changes and applies it to the extension automatically.

Example: My computer switches to dark theme at night and when I visit YouTube, it's also in dark theme because they have the option to detect the system theme and apply automatically.

I've seen this feature in many applications and I'd like to have it in this extens

[2022-06-09 14:16] CemRoot opened #123 "Firefox addon doesn't work"
I've tried it a few times, but the plugin doesn't work when a new page opens in any way.

[2022-10-26 23:38] tomal02 commented on #85
I'd be happy to help get this back up onto Firefox, got it running locally for now.